<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../../static_content.html'/>

<%
  import hashlib
  import copy
  import json
  hlskey = hashlib.md5(module.location.url()).hexdigest()
%>

## js templates

<div class="wrapper-comp-settings basic_metadata_edit" data-metadata='{
   "display_name":{
      "default_value":"Video",
      "explicitly_set":false,
      "display_name":"Display Name",
      "help":"Display name for this module.",
      "inheritable":false,
      "type":"Generic",
      "field_name":"display_name",
      "options":[

      ],
      "value":"Video"
   },
   "html5_sources":{
      "default_value":[

      ],
      "explicitly_set":false,
      "display_name":"Video Sources",
      "help":"A list of filenames to be used with HTML5 video. The first supported filetype will be displayed.",
      "inheritable":false,
      "type":"List",
      "field_name":"html5_sources",
      "options":[

      ],
      "value":[

      ]
   }
}'></div>

<script type="text/javascript">
    $(document).ready(function(){
        new Transcripts({
            el: $('.component-editor').find('.basic_metadata_edit')
        });
    })
</script>
